@import url('https://fonts.googleapis.com/css?family=Abel|Indie+Flower|Pacifico|Shadows+Into+Light|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@font-face {
    font-family: AFBA;
    src: url("../AGENCYR.ttf");
}

/*Main Properties*/

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

html{
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	cursor: url(../Cursor/Blueness.cur), pointer;
}

/*Header Part*/

.wrapper{
	background-color: rgba(31, 31, 31, 1);
	z-index: 1;
}
.op_layer {
	position: absolute;
	top: 0;
    left: 0;
	background:url("../img/history.jpg") ;
	background-repeat: no-repeat;
	font-family: AFBA;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    width: 100%;
	max-height: 700px;
}
#dropdown{
	margin-left: 5px;
}
.dropdown-content {
	display: none;
	position: absolute;				
	background-color: #1d1c1c;
	padding: 5px;
	min-width: 160px;
	box-shadow: 0px 30px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-left: 350px;
}
.show {
	display: block;
}
.avatar { 
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: solid 1px #FFFFFF;
}
				
	ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.logo{
	margin: left;
	font-size: 50px;
	position: fixed;
	top: 4px;
}

.bar {
	background-color :  #1d1c1c;
	width: 100%;
	height: 60px;
	box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.2);
}
#bar-pos{
	position: fixed;
	z-index: 1;
}

.homo_link {
	position :  fixed;
	font-size : 30px;
	left : 56%;
}

.bar a {
	font-family : AFBA;
	color : #f0ecec;
	text-decoration: none;
	margin-left : 30px; 
}

.bar a:hover {
	color : #FFFFFF;
}

.text {
	z-index: 1;
	text-align : center;
	color: white;
	text-shadow: 2px 2px #1B1B1B;
	margin-top : 16%;
	font-size: 50px;
	text-transform: uppercase;
}

.search {
	margin: auto;
	width: 650px;
    position: relative;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #000000;
    padding: 5px;
    height: 40px;
    border-radius: 4px;
    outline: none;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

.searchTerm:focus{
    color: #171717;
}
.btn-search{
	font-family: 'Abel', sans-serif;
	margin: 10px 0px 0px 270px;
	padding: 10px 15px 11px !important;
	font-size: 20px !important;
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	border-radius: 5px;	
	border: 1px solid #151515;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

@media (max-width: 575px) {  }


@media (min-width: 576px) and (max-width: 767px) {  }


@media (min-width: 946px) and (max-width: 1058px) { 
	.homo_link {
		font-size : 20px;
	}
	.bar {
		background-color :  #1d1c1c;
		width: 100%;
		height: 45px;
	}
	.logo{
		font-size: 30px;
	}
}


@media (min-width: 1058px) and (max-width: 1199px) { 
	.homo_link {
		font-size : 25px;
	}
	.bar {
		background-color :  #1d1c1c;
		width: 100%;
		height: 50px;
	}
	.logo{
		font-size: 40px;
	}
}

@media (min-width: 1250px) {
	.bar a {
		margin-left : 35px; 
	}
}

/*Content Part*/

.content{
	margin: 20% 5% 10% 5%;
}
#intro{
	text-align: center;
	font-size: 35px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	border: 10px solid transparent;
    padding: 20px;
    border-image: url(../img/border.png) 30 stretch;
	-webkit-border-image: url(../img/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/border.png) 30 stretch; /* Opera 11-12.1 */	
}

#features-wrap{
	margin-top: 100px;
    text-transform: uppercase;	
	text-align: center;
	font-family: "Indie Flower", sans-serif;
	font-size: 60px;
}

.img-homepage{
	width: 280px;
	height: 280px;	
	display: inline-block;
	margin: 0px 45px;
}

.img-homepage:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
	transition: all 0.4s ease;
    background-color: SlateGray;
    position:relative;
    opacity: 0.5;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
}

#img1:hover{
	content: url(../img/box1-hover.png);
}

#img2:hover{
	content: url(../img/box2-hover.png);
}

#img3:hover{
	content: url(../img/box3-hover.png);
}

#features_wrap_2{
	background-color: #232323;
	height: 200px;
	color: white;
	margin: auto;
}


p{
	letter-spacing: 1px;
}

span{
	color: red;
}

/*Footer Part*/
.footer-r{
	background-color: #1d1c1c;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-family: AFBA;
	padding-bottom: 10px;
	margin-top: 100px;
}

.footer-r .footer-company-name{
	color:  #ffffff;
	font-size: 24px;
	margin: 0;
}

.footer-r .footer-links{
	list-style: none;
	font-size: 24px;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-r .footer-links a{
	display:inline;
	text-decoration: none;
	color: inherit
}
#footer_logo, #footer_logo_truong{
	margin-top: -10px;
}

